<form
  class="container grid"
  action="https://formspree.io/f/xleakedq"
  method="POST"
>
  <input
    class="input__small"
    type="text"
    placeholder="First Name"
    name="First Name"
    required
  />
  <input
    class="input__small"
    type="text"
    placeholder="Last Name"
    name="Last Name"
  />
  <input
    class="input__medium multi-column"
    type="email"
    placeholder="Email"
    name="Email"
    required
  />
  <input
    class="input__medium multi-column-1"
    type="text"
    placeholder="Subject"
    name="Subject"
  />
  <input
    class="input__large multi-column-2"
    type="text"
    placeholder="Message"
    required
    name="Message"
  />
  <div class="center new-cell">
    <button class="btn center" type="submit">Submit</button>
  </div>
</form>
